[workers]
%{ for k,v in workers ~}
${k} ansible_host=${v}
%{ endfor ~}

[workers:vars]
ansible_user=${user}
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion_ip}"'

[controllers]
%{ for k,v in controllers ~}
${k} ansible_host=${v}
%{ endfor ~}

[controllers:vars]
ansible_user=${user}
ansible_ssh_extra_args='-o "StrictHostKeyChecking=no" -o ProxyCommand="ssh -o StrictHostKeyChecking=no -W %h:%p root@${bastion_ip}"'